@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&family=Open+Sans&display=swap');

:root{
    --primary-font-family: "Open Sans", sans-serif !important;
    --logo-font-family: "Trade Winds", system-ui !important;
    --primary-theme-color: #52009E !important;
    --contrast-primary-theme-color: #089E54 !important;
    --secondary-theme-color: #FFFFFF !important;
    --tertiary-theme-color: #555 !important;
}

*{
    font-family: var(--primary-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}