.card{
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    box-shadow: 0 0 1.4em rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-title{ color: var(--primary-theme-color); }

.container-input{ text-align: left; }

.text-input{
    border: 1px solid var(--tertiary-theme-color);
    border-radius: .25em;
    width: 33em;
}

.input-error{
    color: red;
    visibility: hidden;
    text-align: left;
    font-size: .75em;
}

.form-button{
    width: 100%;
    font-size: 1em;
}