<!DOCTYPE html>
<html>

<head>
    <title>Parque de diversões</title>
    <link rel="stylesheet" href="/pages/home/home.css">
    <link rel="stylesheet" href="/core/style.css">
</head>

<body>
    <div class="main">
        <div id="container-header">
            <div id="header-home">
                <div id="textos">
                    <h1>
                        Bem-vindo a Divertoland!
                    </h1>
                    <h3>
                        Escolha o seu brinquedo para entrar na sua fila virtual
                    </h3>
                </div>
                <img id="amusement-park-icon" src="/imgs/amusement-park-icon.png" alt="Logo">
            </div>
        
            <div id="header-pfp">
                <img id="usr-pfp" src="/imgs/default-avatar-icon.jpg" alt="Avatar">
            </div>
        </div>
        
        <div id="body-home"></div>

    </div>
</body>

</html>