<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Divertoland - A terra da alegria!</title>
        <link rel="icon" href="/assets/imgs/favicon.ico" type="image/x-icon"/>

        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            
        <!-- PAGE STYLES -->
        <link rel="stylesheet" href="/assets/core/css/style.css">
        <link rel="stylesheet" href="/assets/core/css/animation.css">
        <link rel="stylesheet" href="/assets/pages/cadastro/cadastro.css">
    </head>

    <body>
        <div class="d-flex align-items-center justify-content-center w-100 h-100">
            
            <form name="input-cadastro" class="card">

                <div class="card-body container">

                    <h2 class="card-title fw-bold">DIVERTOLAND</h2>
    
                    <div class="container text-start">
                        <label for="input-usuario" class="form-label fw-bold">Usuário:</label>
                        <input 
                            type="text" 
                            name="input-usuario" 
                            id="input-usuario" 
                            placeholder="Insira seu nome de usuário"
                            class="form-control text-input"
                            required
                        />
                        <span id="error-input-usuario" class="input-error input-error-cadastro">.</span>
                    </div>
    
                    <div class="container text-start">
                        <label for="input-email" class="form-label fw-bold">Email:</label>
                        <input 
                            type="email" 
                            name="input-email" 
                            id="input-email" 
                            placeholder="Insira seu email"
                            class="form-control text-input"
                            required
                        />
                        <span id="error-input-email" class="input-error input-error-cadastro">.</span>
                    </div>
    
                    <div class="container text-start">
                        <label for="input-senha-cadastro" class="form-label fw-bold">Senha:</label>
                        <input 
                            type="password" 
                            name="input-senha" 
                            id="input-senha" 
                            placeholder="Insira sua senha"
                            class="form-control text-input"
                            required
                        />
                        <span id="error-input-senha" class="input-error input-error-cadastro">.</span>
                    </div>

                    <div class="container">
                        <button id="input-submit" class="btn btn-success form-button mb-3">Cadastrar-se</button>
                    </div>
                    
                    <div class="container">
                        <a href="/login" class="link-underline link-underline-opacity-0 link-light">Já sou cadastrado</a>
                    </div>

                </div>


            </form>
        </div>

        <!-- BOOTSTRAP -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
        <!-- PAGE SCRIPTS -->
        <script src="/assets/core/js/Constants.js"></script>
        <script src="/assets/pages/cadastro/cadastro.js"></script>
        
    </body>
</html>