.main-header{
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    padding: .5em;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-text { 
    font-family: var(--logo-font-family); 
    padding-top: .28em;
}

.logo-icon{
    width: 2em;
    height: 2em;
}

.user-button{
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    background-color: var(--secondary-theme-color);
    border-radius: 100%;
    border: none;
}

.user-icon { cursor: pointer; }

.main-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.atracoes-card-carousel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 10em;
    overflow: hidden;
    padding-top: 2em;
    height: 100%;
    width: 100vw;
}

.atracao-card{
    display: flex;
    justify-content: flex-end;
    background-image: url("/imgs/bg-montanha-russa.jpeg");
    background-size: cover;
    width: 12.5em;
    height: 17.5em;
    border-radius: 1em;
    transform: translateZ(calc(var(--position) * 2em));
    opacity: calc((var(--position) * .5) + .4);
    transition: transform .5s;
    z-index: var(--position);
}

.atracao-card:hover{
    transform: translateZ(calc((var(--position) * 2em) + .5em));
    transition: transform .5s;
}

.atracao-card-footer{
    position: absolute;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.main-sidebar{
    width: 33vw;
    height: 100%;
    background-color: darkred;
    z-index: 1;
    transition: width .4s;
}