.main-header{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    padding: .5em;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-text { 
    font-family: var(--logo-font-family); 
    padding-top: .28em;
}

.logo-icon{
    width: 2em;
    height: 2em;
}

.section-buttons{
    display: flex;
}

.section-button{
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    padding: .5em;
    border: none;
}

.user-button{
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    background-color: var(--secondary-theme-color);
    border-radius: 100%;
    border: none;
}

.user-icon { cursor: pointer; }

.main-body{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10em;
}

/* .atracoes-card-carousel{
    position: relative;
    display: flex;
    perspective: 300px;
}

.card-1{
    transform: 
        translateZ(50px)
}

.card-2{
    transform: 
        translateZ(75px)
}

.card-3{
    transform: 
        translateZ(100px)
}

.card-4{
    transform: 
        translateZ(75px)
}

.card-5{
    transform: 
        translateZ(50px)
} */