.main-header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    padding: .5em;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-text { 
    font-family: var(--logo-font-family); 
    padding-top: .28em;
}

.logo-icon{
    width: 2em;
    height: 2em;
}

.user-button{
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    background-color: var(--secondary-theme-color);
    border-radius: 100%;
    border: none;
}

.user-icon { cursor: pointer; }

.main-body{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.loader-atracoes-card-carousel{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background: 
        radial-gradient(farthest-side, var(--primary-theme-color) 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, var(--primary-theme-color));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: rotate 1s infinite linear;
}

.atracoes-card-carousel{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    perspective: 10em;
    overflow: hidden;
    padding-top: 2em;
    height: 90vh;
    width: 100vw;
    opacity: 0;
    transform: translateY(-1.25em);
    animation: fadeInMoveDown 0.7s ease forwards;
}

.atracao-card{
    --largura-card: 12.5em;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    width: var(--largura-card);
    height: 17.5em;
    border-radius: 1em;
    transform: translateZ(calc(var(--layer) * 1em));
    opacity: calc((var(--layer) * .4));
    transition: transform .5s, opacity .5s;
    z-index: var(--layer);
}

.atracao-card:hover{
    transform: translateZ(calc((var(--layer) * 1em) + .5em));
    transition: transform .5s;
}

.atracao-card-footer{
    position: absolute;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.main-sidebar{
    display: flex;
    width: 33vw;
    height: 90vh;
    z-index: 1;
    transition: width .4s;
}

.sidebar-handles-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    padding: 2em;
    overflow: hidden;
    background-color: var(--primary-theme-color-dark);
    color: var(--secondary-theme-color);
}

.sidebar-title{
    text-align: center;
    overflow: hidden;
}

#sidebar-atracao-img{
    width: 100%;
    max-height: 18em;
}

.handle-sidebar-btn{
    background-color: var(--primary-theme-color-dark);
    color: var(--secondary-theme-color);
    border: none;
    padding: .5em;
    height: fit-content;
    width: fit-content;
}

.main-l-handle-sidebar-btn{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.main-r-handle-sidebar-btn{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}