body {
    font-family: var(--primary-font-family);
    line-height: 1.5;
    flex-direction: column;
}

h2, h5{
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: var(--secondary-theme-color);
    border-radius: 1em;
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
    padding: 1.25em;
    transition: transform 0.2s;
    width: 33em;
    text-align: center;
}

#title{
    color: var(--primary-theme-color);
}

.label-login {
    width: 100%;
    text-align: left;
    color: var(--tertiary-theme-color);
    font-weight: bold;
}

.input-login {
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid var(--tertiary-theme-color);
    border-radius: .25em;
}

button {
    width: 100%;
    color: var(--secondary-theme-color);
    cursor: pointer;
    font-size: 1em;
}