@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&family=Open+Sans&display=swap');

:root{
    --primary-font-family: "Open Sans", sans-serif;
    --primary-theme-color: #ca0000;
    --contrast-primary-theme-color: #2200ca;
    --secondary-theme-color: #FFFFFF;
    --tertiary-theme-color: #555;
}

*{
    font-family: var(--primary-font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}